.transactions-list-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h2 {
    color: #2c2c2c;
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.transaction-actions {
    margin-bottom: 20px;
}

.add-transaction-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-transaction-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.transactions-list {
    list-style-type: none;
    padding: 0;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s, transform 0.3s;
}

.transaction-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.transaction-name {
    flex: 2;
    padding-right: 10px;
}

.transaction-amount {
    flex: 1;
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.remove-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-btn:hover {
    background-color: #c0392b;
}
